[BASIC]

include-naming-hint = yes

# Naming hint for argument names
argument-name-hint = (([a-z][a-z0-9_]{0,30})|(_[a-z0-9_]*))$

# Regular expression matching correct argument names
argument-rgx = (([a-z][a-z0-9_]{0,30})|(_[a-z0-9_]*))$

# Naming hint for variable names
variable-name-hint = (([a-z][a-z0-9_]{0,30})|(_[a-z0-9_]*))$

# Regular expression matching correct variable names
variable-rgx = (([a-z][a-z0-9_]{0,30})|(_[a-z0-9_]*))$

# Naming hint for method names
method-name-hint = (([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$

# Regular expression matching correct method names
method-rgx = (([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$

[MESSAGES CONTROL]

disable = C0114, C0115, C0116
